/* білий #FFFFFF */
/* заголовки #212121 */
/* текст #757575 */
/* блакитний #2196F3 */
/* чорний #000000 */
/* колір сторінки #F5F5F5 */
/* колір фону хедера #FFFFFF */
/* колір фону герой та футер #2F303A */
/* колір фону секції команда #F5F4FA */
/* вторинний колір футер rgba(255, 255, 255, 0.6) */
/* колір рамки #EEEEEE */

:root {
    --frame: #EEEEEE;
    --secondary-frame: #ECECEC;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --hero-btn-hover: #188CE8;
    --secondary-color: #FFFFFF;
    --back-color: #F5F5F5;
    --back-hero: #2F303A;
    --back-team: #F5F4FA;
    --text-logo: #000000;
    --icon-color: #AFB1B8;
    --secondary-text-foot: rgba(255, 255, 255, 0.6);
    --footer-back-link: rgba(255, 255, 255, 0.1);
    --background: rgba(47, 48, 58, 0.8);
    --overlay: rgba(33, 150, 243, 0.9);
}

:root {
    --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Стили для обнуления верхних отступов у элементов */

h1,
h2,
h3,
p {
    margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
    text-decoration: none;
    color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Свойства для обнуления курсива у address */
address {
    font-style: normal;
}
/* стилі для index.html */
body {
    
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}
/* header */

.header {
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-frame);
 }

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 15px;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.logo {
    padding-top: 24px;
    padding-bottom: 25px;

    color: var(--text-logo);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.accent {
    color: var(--accent-color);
}

.head-nav {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

/* site nav */

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

/* .site-nav .item+.item {
    margin-left: 50px;
} */

.site-nav .link {
    display: block;
    padding: 32px 0;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms var(--time-function);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
    /* position: relative; */
}

.link.current::after {
    /* position: absolute;
    bottom: 0; */
    position: relative;
    display: block;
    content: '';
    top: 32px;
    
    width: 100%;
    height: 4px;
    border-radius: 2px;
    
    background-color: var(--accent-color);
}



.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav .item-icon:not(:last-child) {
    margin-right: 50px;
}

.auth-nav .link {
    display: flex;
    padding: 32px 0;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms var(--time-function);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

.item-icon {
    display: inline-flex;
    
}

.envelope {
    margin-right: 10px;
    fill: currentColor;
}

.smartphone {
    margin-right: 10px;
    fill: currentColor;
}

.mail {
    display: flex;
    align-items: center;
    justify-content: center;
}

 /* hero */
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
        url(../images/bg-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    background-color: var(--back-hero);
    color: var(--secondary-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;   
}

.btn {
    display: inline-block;
    padding: 10px 24px;
    border: transparent;
    border-radius: 4px;
    min-width: 200px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    letter-spacing: 0.06em;

    background-color: var(--accent-color);
    color: var(--secondary-color);
    
    transition: background-color 250ms var(--time-function);
}

.hero .btn:hover,
.hero .btn:focus {
    background-color: var(--hero-btn-hover);
}
/* main */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about-us {
    padding-top: 0;
}

.benefits {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
}

.benefits-icon {
    display: inline-flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--back-team);
    align-items: center;
    justify-content: center;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.lead {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.text {
    margin-top: 0;
    margin-bottom: 0;

    width: 270px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.us {
    position: relative;
    display: flex;
    padding-left: 0;
    justify-content: space-between;
}

.us-title {
    position: absolute;
    bottom: 0;
    width: 370px;
    margin-bottom: 0;
    padding: 27px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--secondary-color);
    background-color: var(--background);
}

.our {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
}

.team {
    background-color: var(--back-team);
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.17;
}

.our .team {
    box-shadow:
        0 2px 1px rgba(0, 0, 0, 0.2),
        0 1px 1px rgba(0, 0, 0, 0.14),
        0 1px 3px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}


.name {
    margin-top: 0;
    margin-bottom: 10px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;  
}
.txt {
    padding: 30px;

    background-color: var(--secondary-color);
    text-align: center;
}
.text-team {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--primary-text-color);
    /* font-weight: inherit; */
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.social {
    display: inline-flex;
    margin-top: 16px;
    gap: 10px;
    padding-left: 0;
}

.social-link {
    display: inline-flex;
    width: 44px;
    height: 44px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: var(--icon-color);

    transition: background-color 250ms var(--time-function),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
                
}


.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    fill: var(--secondary-color);
}

/* постійні клієнти */
.our-client {
    display: flex;
    gap: 30px;
    padding: 0;
    justify-content: center;
}


.client-link {
    fill: var(--icon-color);
    display: inline-flex;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    transition: fill 250ms var(--time-function),
    border 250ms var(--time-function);
    
}

.client-link:hover,
.client-link:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/* footer */
.footer {
    padding: 60px 0;

    color: var(--secondary-color);
    background-color: var(--back-hero);
    font-size: 14px;
    line-height: 1.71;
}

.footer .logo-link {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--secondary-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.footer-list {
    padding-left: 0;
}
.add {
    margin-top: 28px;
    
    font-family: inherit;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-list .link {
    margin-top: 0;

    color: var(--secondary-color);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;

    transition: color 250ms var(--time-function);
}

.footer-add:not(:last-child) {
    margin-bottom: 12px;
    
}

.footer-list .item-link {
    color: var(--secondary-text-foot);
    text-decoration: none;

    transition: color 250ms var(--time-function);
}

.footer-list .link:hover,
.footer-list .link:focus {
    color: var(--accent-color);
}
.footer-list .item-link:hover,
.footer-list .item-link:focus {
    color: var(--accent-color);
}

.footer-social-link {
    display: flex;
    padding-left: 0;
    gap: 10px;
}

.footer-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.footer-link {
    background-color: var(--footer-back-link);
    display: inline-flex;
        width: 44px;
        height: 44px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        fill: var(--secondary-color);

        transition: background-color 250ms var(--time-function);
}

.footer-link:hover,
.footer-link:focus {
    background-color: var(--accent-color);
    cursor: pointer;
}

.box-second {
    margin-left: 93px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

/* Портфоліо */

.button-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-left: 0;
}

.btn-nav:not(:last-child) {
    margin-right: 8px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    border: transparent;
    padding: 6px 22px;
    
    background-color: var(--back-team);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    min-width: 67px;

    transition: background-color 250ms var(--time-function),
    color 250ms var(--time-function),
    box-shadow 250ms var(--time-function);
}

.button-nav .button:hover,
.button-nav .button:focus {
    color: var(--secondary-color);
    background-color: var(--accent-color);

    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.08),
            0 3px 1px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.desk {
    margin-top: 4px;
    margin-bottom: 0;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.photo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    flex-wrap: wrap;
    gap: 30px;
    font-size: 16px;
    line-height: 1.88;
}

.gallery {
    overflow: hidden;
    border: 1px solid var(--frame);
    width: 370px;
 }

 .gallery-link {
    text-decoration: none;

    transition: box-shadow 250ms var(--time-function);
 }

.gallery-link:nth-last-child(-n + 3) {
    margin-bottom: 0;
} 
.gallery .item {
    padding: 20px 24px;
}

.gallery:hover,
.gallery:focus {
    display: block;
    box-shadow:
     0px 1px 1px rgba(0, 0, 0, 0.12), 
     0px 4px 4px rgba(0, 0, 0, 0.06), 
     1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-img {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    margin-bottom: 0;
    top: 63px;
    left: 24px;

    width: 322px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    
    color: var(--secondary-color);
    opacity: 0;

    transform: translateY(100%);
    transition: transform 250ms var(--time-function);
}

.gallery-link:hover .overlay,
.gallery-link:focus .overlay {
    opacity: 1;
    transform: translateY(0);
}

.gallery-img::before {
    position: absolute;
    top: 0;
    left: 0;
    
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    
    background-color: var(--overlay);
    
    transform: translateY(100%);
    transition: transform 250ms var(--time-function);
}

.gallery-img:hover::before,
.gallery-img:focus::before {
    opacity: 1;  
}

.gallery-link:hover .gallery-img::before,
.gallery-link:focus .gallery-img::before {
    transform: translateY(0);
}

/* Модальне вікно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: opacity 250ms var(--time-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    background-color: var(--secondary-color);
}

.close-link {
    position: absolute;
    top: 8px;
    right: 8px;

    display: inline-flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    fill: var(--text-logo);
    background-color: var(--secondary-color);
}