:root {
    --frame: #EEEEEE;
    --secondary-frame: #ECECEC;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --hero-btn-hover: #188CE8;
    --secondary-color: #FFFFFF;
    --back-color: #F5F5F5;
    --back-hero: #2F303A;
    --back-team: #F5F4FA;
    --text-logo: #000000;
    --icon-color: #AFB1B8;
    --secondary-text-foot: rgba(255, 255, 255, 0.6);
    --footer-back-link: rgba(255, 255, 255, 0.1);
    --background: rgba(47, 48, 58, 0.8);
    --overlay: rgba(33, 150, 243, 0.9);
}

:root {
    --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Стили для обнуления верхних отступов у элементов */

h1,
h2,
h3,
p {
    margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
    text-decoration: none;
    color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Свойства для обнуления курсива у address */
address {
    font-style: normal;
}
/* стилі для index.html */
body {
    
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}
/* header */

.header {
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-frame);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 15px;
}

/* ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
} */

.nav__logo {
    padding-top: 24px;
    padding-bottom: 25px;

    color: var(--text-logo);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.nav__accent {
    color: var(--accent-color);
}

.head-nav {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

/* site nav */

.site-nav {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 93px;

    list-style: none;
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    display: block;
    padding: 32px 0;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms var(--time-function);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
}

.site-nav__link.current {
    color: var(--accent-color);
}

.site-nav__link.current::after {
    position: relative;
    display: block;
    content: '';
    top: 32px;
    
    width: 100%;
    height: 4px;
    border-radius: 2px;
    
    background-color: var(--accent-color);
}

.auth-nav {
    display: flex;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;

    list-style: none;
}

.auth-nav__item:not(:last-child) {
    margin-right: 50px;
}

.auth-nav__link {
    display: flex;
    padding: 32px 0;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    align-items: center;
    justify-content: center;

    transition: color 250ms var(--time-function);
}

.auth-nav__link:hover,
.auth-nav__link:focus {
    color: var(--accent-color);
}

.auth-nav__envelope {
    margin-right: 10px;
    fill: currentColor;
}

.auth-nav__smartphone {
    margin-right: 10px;
    fill: currentColor;
}

 /* hero */
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
        url(../images/bg-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    background-color: var(--back-hero);
    color: var(--secondary-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;   
}

.hero__btn {
    display: inline-block;
    padding: 10px 24px;
    border: transparent;
    border-radius: 4px;
    min-width: 200px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    letter-spacing: 0.06em;

    background-color: var(--accent-color);
    color: var(--secondary-color);
    
    transition: background-color 250ms var(--time-function);
}

.hero__btn:hover,
.hero__btn:focus {
    background-color: var(--hero-btn-hover);
}
/* main */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.benefits {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: space-between;
}

.benefits__icon {
    display: inline-flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--back-team);
    align-items: center;
    justify-content: center;
}

.benefits__lead {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.benefits__text {
    margin-top: 0;
    margin-bottom: 0;

    width: 270px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.about-us {
    padding-top: 0;
}

.about-us__title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.us {
    position: relative;
    display: flex;
    padding-left: 0;
    justify-content: space-between;
}

.us__title {
    position: absolute;
    bottom: 0;
    width: 370px;
    margin-bottom: 0;
    padding: 27px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--secondary-color);
    background-color: var(--background);
}

.team__title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center; 
}

.our {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
}

.our__team {
    box-shadow:
        0 2px 1px rgba(0, 0, 0, 0.2),
        0 1px 1px rgba(0, 0, 0, 0.14),
        0 1px 3px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    background-color: var(--back-team);
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.17;
}

.our__item {
    padding: 30px;

    background-color: var(--secondary-color);
    text-align: center;
}

.our__name {
    margin-top: 0;
    margin-bottom: 10px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;  
}

.our__text {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--primary-text-color);
    /* font-weight: inherit; */
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.social {
    list-style: none;
    display: inline-flex;
    margin-top: 16px;
    gap: 10px;
    padding-left: 0;
}

.social__link {
    display: inline-flex;
    width: 44px;
    height: 44px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: var(--icon-color);

    transition: background-color 250ms var(--time-function),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
                
}


.social__link:hover,
.social__link:focus {
    background-color: var(--accent-color);
    fill: var(--secondary-color);
}

/* постійні клієнти */
.client-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center; 
}
.our-client {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
    justify-content: center;
}

.our-client__link {
    fill: var(--icon-color);
    display: inline-flex;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    transition: fill 250ms var(--time-function),
    border 250ms var(--time-function);
    
}

.our-client__link:hover,
.our-client__link:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/* footer */
.footer {
    padding: 60px 0;

    color: var(--secondary-color);
    background-color: var(--back-hero);
    font-size: 14px;
    line-height: 1.71;
}

.footer__logo {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--secondary-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.add {
    margin-top: 28px;
    
    font-family: inherit;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-list {
    list-style: none;
    padding-left: 0;
}

.footer-list__add:not(:last-child) {
    margin-bottom: 12px; 
}

.footer-list__link {
    margin-top: 0;

    color: var(--secondary-color);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;

    transition: color 250ms var(--time-function);
}

.footer-list__link:hover,
.footer-list__link:focus {
    color: var(--accent-color);
}

.footer-list__item-link {
    color: var(--secondary-text-foot);
    text-decoration: none;

    transition: color 250ms var(--time-function);
}


.footer-list__item-link:hover,
.footer-list__item-link:focus {
    color: var(--accent-color);
}

.footer-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.footer-social {
    list-style: none;
    display: flex;
    padding-left: 0;
    gap: 10px;
}

.footer-social__link {
    background-color: var(--footer-back-link);
    display: inline-flex;
        width: 44px;
        height: 44px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        fill: var(--secondary-color);

        transition: background-color 250ms var(--time-function);
}

.footer-social__link:hover,
.footer-social__link:focus {
    background-color: var(--accent-color);
    cursor: pointer;
}

.box-second {
    margin-left: 93px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.box-third {
    margin-left: 93px;
}

.footer-field {
    display: flex;
}

.footer-field__form {
    padding: 12px 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: var(--back-hero);
    color: var(--secondary-color);
}

.footer-field__icon {
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    fill: var(--secondary-color);
}

.footer-field input::placeholder {
    font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}

.footer-field__btn {
    display: flex;
    margin-left: 12px;
    min-width: 200px;
    height: 50px;
    padding: 10px 28px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    align-items: center;
    text-align: center;
    cursor: pointer;

    background: var(--accent-color);
    color: var(--secondary-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;

    transition: background-color 250ms var(--time-function);
}

.footer-field__btn:hover,
.footer-field__btn:focus {
    background-color: var(--hero-btn-hover);
}

/* Портфоліо */

.button-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-left: 0;
}

.button-nav__item:not(:last-child) {
    margin-right: 8px;
}

.button-nav__button {
    display: inline-block;
    border-radius: 4px;
    border: transparent;
    padding: 6px 22px;
    
    background-color: var(--back-team);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    min-width: 67px;

    transition: background-color 250ms var(--time-function),
    color 250ms var(--time-function),
    box-shadow 250ms var(--time-function);
}

.button-nav__button:hover,
.button-nav__button:focus {
    color: var(--secondary-color);
    background-color: var(--accent-color);

    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.08),
            0 3px 1px rgba(0, 0, 0, 0.1);
}

.photo {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
    flex-wrap: wrap;
    gap: 30px;
    font-size: 16px;
    line-height: 1.88;
}

.gallery {
    border: 1px solid var(--frame);
    width: 370px;
 }

 .gallery__link {
    text-decoration: none;
    transition: box-shadow 250ms var(--time-function);
 }

.gallery__link:nth-last-child(-n + 3) {
    margin-bottom: 0;
} 
.gallery__item {
    padding: 20px 24px;
}

.gallery:hover,
.gallery:focus {
    display: block;
    box-shadow:
     0px 1px 1px rgba(0, 0, 0, 0.12), 
     0px 4px 4px rgba(0, 0, 0, 0.06), 
     1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__img {
    position: relative;
    overflow: hidden;
}

.gallery__text {
    position: absolute;
    margin-bottom: 0;
    top: 63px;
    left: 24px;

    width: 322px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    
    color: var(--secondary-color);
}

.gallery__overlay {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: var(--overlay);
    
    transform: translateY(100%);
    transition: transform 250ms var(--time-function);
}

.gallery__link:hover .gallery__overlay,
.gallery__link:focus .gallery__overlay {
    transform: translateY(0);
}

.gallery__subtitle {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.gallery__desk {
    margin-top: 4px;
    margin-bottom: 0;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* Модальне вікно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms var(--time-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0;
    padding: 40px;

    width: 528px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    background-color: var(--secondary-color);
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: inline-flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    fill: var(--text-logo);
    background-color: var(--secondary-color);
}

.modal__close:hover,
.modal__close:focus {
    fill: var(--accent-color);
}

.modal__form {
    margin-left: auto;
    margin-right: auto;
}

.modal__field {
    padding: 0;
    margin: 0;
}

.modal__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.modal-item {
    position: relative;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.modal-item:last-child {
    margin-bottom: 0px;
}

.modal-item__input {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    text-align: left;

    transition: outline 250ms var(--time-function);
}

.modal-item__label {
    position: absolute;
    top: -18px;
    left: 0;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

textarea {
    display: block;
    resize: none;
    padding: 0;
    margin-bottom: 20px;
}

.modal-item__comment {
    margin: 0;
    padding: 12px 16px;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: outline 250ms var(--time-function);
}

.modal-item__field textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.modal-item__icon {
    position: absolute;
    top: 11px;
    left: 12px;

    display: inline-block;

    transition: fill 250ms var(--time-function);
}

.modal-item__field:focus-within > .modal-item__icon {
    fill: var(--accent-color);
}

.modal-item__input:focus,
.modal-item__comment:focus {
    outline: 1px solid var(--accent-color);
}

.checkbox-label {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    align-items: center;
    justify-content: center;
}

.checkbox-label__icon {
    display: inline-block;
    margin-right: 7px;
    width: 16px;
    height: 15px;

    border: 2px solid var(--title-text-color);
    border-radius: 2px;
}

.checkbox-label__check:checked + .checkbox-label__icon {
    background-image: url(../images/icon\ check.svg);
    border: transparent;

}
.checkbox-label__check {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} 

.modal__btn {
    display: block;
    padding: 10px 52px;
    border: transparent;
    border-radius: 4px;
    min-width: 200px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    margin: 0 auto;
    letter-spacing: 0.06em;

    background-color: var(--accent-color);
    color: var(--secondary-color);

    transition: background-color 250ms var(--time-function);
}

.modal__btn:hover,
.modal__btn:focus {
    background-color: var(--hero-btn-hover);
}


