.nav__logo {
    padding-top: 16px;
    padding-bottom: 16px;

    color: $text-logo;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.03em;

}

.nav__accent {
    color: $accent-color;
}